* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: 'Courier New', Courier, monospace;

    width: 100%;
    height: 80px;

    background-color: #b2d6d6;

    display: flex;
    justify-items: center;
    align-items: center;
}

.header h1 a, h3 a {
    text-decoration: none;
    color: black;
}

.header h1 a:hover, h3 a:hover {
    text-decoration: none;
    color: #545454;
}

.name {
    margin-left: 1.5em;
    text-align: left;
    flex-grow: 2;
}

.about {
    margin-right: 1.5em;
    text-align: right;
    flex-grow: 2;
}

.books, .shows, .life {
    text-align: center;
    flex-grow: 1;
}

.banner {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-items: center;

    background-color: black;
}

.banner p {
    color: white;
    text-align: center;
    flex-grow: 1;
}

.articles {
    width: 100%;
    height: 15vh;

    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
}

.articles p {
    color: white;
    text-align: center;
    flex-grow: 1;
}

.current {
    width: 100%;
    height: 56.7vh;

    background-color: #b2d6d6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.current p {
    color: white;
    text-align: center;
    flex-grow: 1;
}